*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    border: 2px solid red;
    height:100vh;
    grid-template-rows: 10vh 40vh 40vh 10vh ;
    gap: 4px 4px;

}
.box{
    border: 2px solid gray;
}
#navbar{
    grid-area: 1 /1/2/4;
    background-color: aquamarine;

}

#sidebar{
    grid-area: 2 /1/5/2;
    background-color:palevioletred;
    
}
#content{
    grid-area: 2/3/4/4;
    background-color:yellow;

}
#footer{
    grid-area: 4/2/5/4  ;
    background-color: greenyellow;
}
